{% extends "ui/base.html" %}
{% load i18n %}
{% block title %}Account activation{% endblock %}
{% block body_block %}

<p>{% trans "Account successfully activated" %}</p>

<p><a href="{% url 'login' %}">{% trans "Log in" %}</a></p>

{% endblock %}