	
{% extends 'ui/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block organization_name %}{% trans "Eiwa" %} {% endblock %}

{% block body_block %}
<div class="row  col-sm-8">
 <div class="well well-md bs-component">
<form action="" method="post"  class="form-horizontal">

{% csrf_token %}
 <fieldset>
    <legend>
{% trans "Change Password" %}
    </legend>

    {{ form.non_field_errors }}      
	{% for boundfield in form.visible_fields  %}
	{% trans boundfield.label as label %}
	<div class="form-group">
		{{ boundfield.errors }}
	    <label for="{{ boundfield.id }}" class="col-sm-2 control-label">{{label}}</label> 
	    <div class="col-md-8"> 	    	
			{{ boundfield |add_class:"form-control" }}
		</div>
	</div>
	{% endfor %}
 
	{% for boundfield in form.hidden_fields  %}	

			{{boundfield}}
	{% endfor %}

	

<div class="form-group">
   <div class="col-md-4 col-md-offset-2">
	    <input type="submit" class="btn btn-primary" value='{% trans "Update" %}'/>
	</div>
</div>



</fieldset>

</form>
</div>
</div>

{% endblock %}