{% load i18n %}
{% load widget_tweaks %} {# addClass and other filters #}

<div id="image_form">
        {% if images_form %}
            {{ images_form.management_form }}
            {{ f.non_field_errors }}
            
            <table class="table table-striped table-hover table-responsive">
            
            {% for f in images_form %}
                {% if forloop.first %}
                <thead>
                <tr class="success">
                    {% for boundfield in f.visible_fields %}
                        {% if not "DELETE" in boundfield.name %}
                        <th>{{ boundfield.label| capfirst }}</th>
                        {% endif %}
                    {% endfor %}
                    <th colspan="3"></th>
                     
                    <th>
                    <a href="#"  class="btn btn-warnng btn-sm"  onclick="return add_inline_form('{{ images_form.management_form.prefix }}')">{% trans "Agregar" %}</a>
                    </th>

                  </tr> 
            
                </thead>
                <tbody>
                {% endif %}

                <tr {% if forloop.last %} class="form-last" {% endif %}>

                    {% for boundfield in f.visible_fields %}
                        <td>
                        {% if "DELETE" in boundfield.name %}
                            {{ boundfield |add_class:"__delete hidden" }}
                         {% else %}      
                            {{ boundfield.errors }}
                                {{ boundfield |add_class:"form-control input-sm" }}
                        {% endif %}
                        </td>
                    
                    {% endfor %}
            
                    {% for boundfield in f.hidden_fields  %}
                        <td display="none">
                                {{boundfield}}
                        </td>
                    {% endfor %}
                    <td>
                         <a id="{{ forloop.counter }}" class="glyphicon glyphicon-trash caution" role="button"></a>
                    </td>
                
                </tr>
                                     



                {% endfor %}  
            </tbody> 
          </table>
        {% endif %}


</div>
