{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon.png"/>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
{% block extrameta %}{% endblock %}


<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
<link rel="stylesheet" href='{% static "ui/css/adjust.css" %}'>

{% block extrastyle %}{% endblock %}

</head>
<body class="{% block bodyclass %}{% endblock %}">
  <div class="container">
    {% block content %}
        {% endblock %}
    <footer></footer>
  </div>
  </body>
</html>
