{% extends 'login/base.html' %}
{% block title %}Log in{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="/static/ui/css/signin.css">

<style>
@font-face { font-family: 'Berlin Sans FB Demi Bold'; src: url('/static/ui/fonts/berlin_sans_fb_demi_bold.eot'); src: url('/static/ui/fonts/berlin_sans_fb_demi_bold.eot?#iefix') format('embedded-opentype'), url('/static/ui/fonts/berlin_sans_fb_demi_bold.svg#Berlin Sans FB Demi Bold') format('svg'), url('/static/ui/fonts/berlin_sans_fb_demi_bold.woff') format('woff'), url('/static/ui/fonts/berlin_sans_fb_demi_bold.ttf') format('truetype'); font-weight: normal; font-style: normal;}

  .brand-name { 
    font-family:"Berlin Sans FB Demi Bold",serif;
  }

</style>

{% endblock %}
{% block content %}
  <form action="" class="form-signin" method="post">{% csrf_token %}
      <h3 class="form-signin-heading text-center"><span class="brand-name">EIWA</span></h3>
      {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors|striptags }}
          </div>
      {% endif %}
      {% if not form.username.errors %}
        <input id="id_username" name="username" type="text" class="form-control" placeholder="Usuario" autofocus>
      {% else %}
        <div class="form-group has-error">
          {% for error in form.username.errors %}
            <label class="control-label" for="id_username">{{ error }}</label>
          {% endfor %}
          <input id="id_username" name="username" type="text" class="form-control" placeholder="Usuario" autofocus>
        </div>
      {% endif %}
      {% if not form.password.errors %}
        <input id="id_password" name="password" type="password" class="form-control" placeholder="Contraseña" autofocus>
      {% else %}
        <div class="form-group has-error">
          {% for error in form.password.errors %}
            <label class="control-label" for="id_password">{{ error }}</label>
          {% endfor %}
          <input id="id_password" name="password" type="password" class="form-control" placeholder="Contraseña">
        </div>
      {% endif %}

      <button class="btn btn-lg btn-primary btn-block" id="btnSubmit" type="submit">Ingresar</button>
    </form>
  </form>
{% endblock %}
