/*
 * Base structure
 */

/*
nav bar bg color: #18BC9C;
sidebar titles bg color: #18BC9C;
sidebar title active: #15A589;
sidebar title hover: #B6DBBD;
Menu 

light green (disabled): #E2F8EF
primary: #18BC9C;

*/
/* Move down content because we have a fixed navbar that

 is 50px tall */
/*body {
  padding-top: 0px;
}
*/

/*
 * Global add-ons
 */

/*.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
*/

@font-face{
    font-family:FontAwesome;
    src:url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'),
  url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'),
  url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'),
  url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
    }




/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    width: 15%;
  }
}

.navbar {
  border:none;

}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

body {
padding-top: 70px;
}
.panel-default > .panel-heading {
    background: #18BC9C;    
    color: #fff;
}

.panel-default.active > .panel-heading {
  background: #15A589;
}

.panel-default .panel-heading:hover {
    color: #333333;
    background:#B6DBBD;
    border-color: #dddddd;
}

.panel-primary {
    border-color: #FFF;
}

.panel-primary > .panel-heading {
    background: #E2F8EF;    
    color: #39c4a9;
    border-color: #FFF;
}

.panel-primary.active > .panel-heading {
  background: #15A589;
  border-color: #FFF;
}

.panel-primary .panel-heading:hover {
  color: #333333;
  background:#B6DBBD;
  border-color: #FFF;
}

.panel-primary > .panel-footer {
    background: #FFF;    
    color: #39c4a9;
    border-color: #FFF;
}

.panel-subtitle > .panel-heading {
    background: #B6DBBD;    
    color: #333333;
    border-color: #FFF;
}

.panel-subtitle .panel-heading:hover {
  color: #333333;
  background:#B6DBBD;
  border-color: #FFF;
}


.btn-primary {
  background-color: #18BC9C;
  color: #FFF;
  border-color:#18BC9C;
}

.btn-primary:hover {
  background-color: #0D6353;
  color: #FFF;
  border-color:#FFF;
}



.btn-warning {
  background-color: #EB9610;
  color: #FFF;
  border-color:#EB9610;
}

.btn-warning:hover {
  background-color: #E09110;
  color: #FFF;
  border-color:#E09110;
}



table a, .table a  {

  text-decoration: none
}

.caution {
  color: red;
}

.edit {
  color: orange;
}

.well {

  background-color: #E2F8EF
}

/*.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th{
  
  background-color: #E2F8EF
}
*/

.errorlist {
  color: red;
}

  @font-face { font-family: 'Berlin Sans FB Demi Bold'; src: url('/static/ui/fonts/berlin_sans_fb_demi_bold.eot'); src: url('/static/ui/fonts/berlin_sans_fb_demi_bold.eot?#iefix') format('embedded-opentype'), url('/static/ui/fonts/berlin_sans_fb_demi_bold.svg#Berlin Sans FB Demi Bold') format('svg'), url('/static/ui/fonts/berlin_sans_fb_demi_bold.woff') format('woff'), url('/static/ui/fonts/berlin_sans_fb_demi_bold.ttf') format('truetype'); font-weight: normal; font-style: normal;}

    .brand-name { 
      font-family:"Berlin Sans FB Demi Bold",serif;
    }
}

.hidden {
  visibility: hidden;
}

.breadcrumb {
  background-color: rgba(236, 240, 241, 0);
}

