/*
btn log in: #18BC9C;
btn log in hover: #15A589;
title : #15A589;


*/


body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin-heading {
  color:  #15A589;
}

.btn:hover, .btn:focus  {
  background: #15A589 ;
  border-color: #15A589;
}

.btn-lg {
  background: #18BC9C  ;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;

}
.form-signin .form-control:focus {
  z-index: 1;
  border-color: #18BC9C
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
