
{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Clients" "admindashboard:customers" %}
    {% breadcrumb "Edit Client" "admindashboard:customerupdate" field.customer.id %}
    {% breadcrumb "Add Field" "admindashboard:customerfieldcreate" field.customer.id %}
{% endblock %}

{% block admin_page_content %}

<div class="well well-md bs-component">
    <form action="{% url "admindashboard:customerfieldcreate" customer.id %}" method="post"  class="form-horizontal" enctype="multipart/form-data">

    {% csrf_token %}
     <fieldset>
        <legend>
    {% trans "New field" %}
        </legend>


               {{ form.non_field_errors }}
    	{% for boundfield in form.visible_fields  %}
    	{% trans boundfield.label as label %}
    	<div class="form-group">
    		{{ boundfield.errors }}
    	    <label for="{{ boundfield.id }}" class="col-sm-2 control-label">{{label}}</label>
    	    <div class="col-md-8">
    			{{ boundfield |add_class:"form-control" }}
    		</div>
    	</div>
    	{% endfor %}

    	{% for boundfield in f.hidden_fields  %}
    	<div class="form-group">

    			{{boundfield}}
    	</div>
    	{% endfor %}
                

           {% include "admindashboard/customers/fields/images/images_form.html" %}

    <div class="form-group">
       <div class="col-md-4 col-md-offset-2">
    	    <input type="submit" class="btn btn-primary" value={% trans "Create" %} />
    	    <a href="{% url "admindashboard:customerupdate" customer.id %}"  class="btn btn-primary">{% trans "Back"%}</a>
       </div>
    </div>



    </fieldset>

    </form>
</div>

{% endblock %}

{% block extrabottomjs %}

<script type="text/javascript">
function increment_form_ids(el, to, name) {
    var from = to-1
    $(':input', $(el)).each(function(i,e){

        var old_name = $(e).attr('name')
        var old_id = $(e).attr('id')
        $(e).attr('name', old_name.replace(from, to))
        $(e).attr('id', old_id.replace(from, to))
        $(e).val('')
    })
}


function add_inline_form(name) {
    var last = $('.form-last')
    
    var count = last.siblings('tr').length

    var copy = last.clone(true)
    copy.find("td a").remove()
    $('input#id_'+name+'-TOTAL_FORMS').val(count+2)
    datepick = copy.find(".datepicker")
    datepick.datepicker("destroy");
    increment_form_ids(copy, count+1, name);
    datepick.datepicker();
    datepick.datepicker('setDate', new Date());

    last.removeClass('form-last')
    last.after(copy);
    return false;
}

function remove_image(ev, el) {
    
    ev.preventDefault()

    obj = $("#" + ev.target.id).closest('tr').find('.__delete')      
    obj.prop('checked', true);
    $(obj).closest('tr').addClass('hidden')
    return false;

    
}
$(".glyphicon-trash").click( function(e) {remove_image(e,this) } )

</script>


{% endblock %}

