{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block organization_name %}{% trans "Administration" %} {% endblock %}

{% block body_block %}

<!-- <div class="col-sm-7 col-md-8  main"> -->
  <div class="panel panel-primary">
   <div class="panel-heading">
  {% trans "Field Details" %}
   </div>
    <div class="panel-body">
    {% trans "Name" %}: {{field.name}}<br>
    {% trans "Environment" %}: {{field.environment}}<br>
    {% trans "borders" %}: {{field.borders}}
<br/>
<br/>
<br/>


<a href="{% url "admindashboard:customerupdate" field.customer.id %}"  class="btn btn-primary">{% trans "Back"%}</a>

</div>

{% endblock %}
