{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Image Types" "admindashboard:imagetypes"  %}
{% endblock %}

{% block admin_page_content %}

<div class="panel panel-primary">
 <div class="panel-heading">
 {% trans "Image Types" %}
 <div class="pull-right">
<a href="{% url "admindashboard:imagetypecreate" %}"  class="badge" role="button">{% trans "Add Image Type" %} <span class="glyphicon glyphicon-plus"></span></a> 
</div>
 </div>
  <div class="panel-body">
<table id="datatable" class="table table-hover table-striped table-condensed" >
<thead>
	<tr>
	<th>id</th>
	<th>name</th>
    <th>description</th>
    <th>display name</th>
	</tr>
</thead>
<tbody>
{% for imagetype in imagetype_list %}
<tr>
<td>{{imagetype.id}}</td>
<td>{{imagetype.name}}</td>
<td>{{imagetype.description}}</td>
<td>{{imagetype.display_name}}</td>
<td><a href="{% url "admindashboard:imagetype" imagetype.id %}" style="text-decoration:underline;">{{ customer.name }}</a></td>
<td><a href="{% url "admindashboard:imagetypedelete" imagetype.id %}"  class="glyphicon glyphicon-trash caution" role="button"></a>
<a href="{% url "admindashboard:imagetypeupdate" imagetype.id %}"  class="glyphicon glyphicon-pencil edit" role="button"></a>  

</td>
</tr>

{% endfor %}
</tbody>

</table>

  </div>
  <div class="panel-footer">
 {% if is_paginated %}

 <ul class="pagination pagination-sm">

 {% if page_obj.has_previous %}
  <li><a href="?page={{page_obj.previous_page}}">«</a></li>
  {% endif %}
  {% for page_idx in page_obj.paginator.page_range %}
  <li class="{% if page.number == page_idx %}active{% endif %}"><a href="?page={{page_idx}}">{{page_idx}}</a></li>
  {% endfor %}
  </ul>
   {% endif %}

</div>

          <a href="{% url "admindashboard:index" %}"  class="btn btn-primary">{% trans "Back" %}</a>

  	

 


  







{% endblock %}
