{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Image Types" "admindashboard:imagetypes" %}
{% endblock %}

{% block admin_page_content %}

  <div class="panel panel-primary">
   <div class="panel-heading">
  {% trans "Image Type Details" %}
   </div>
    <div class="panel-body">
    {% trans "Name" %}: {{imagetype.name}}<br>
    {% trans "Description" %}: {{imagetype.description}}<br>
    {% trans "Display Name" %}: {{imagetype.display_name}}<br>
<br/>
<br/>
<br/>


<a href="{% url "admindashboard:imagetypes" %}"  class="btn btn-primary">{% trans "Back"%}</a>

</div>

{% endblock %}
