	
{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Image Types" "admindashboard:imagetypes"  %}
    {% if not object %}
    {% breadcrumb "New Image Type" "admindashboard:imagetypecreate" %}
{% else %}
    {% breadcrumb "Update Image Type" "admindashboard:imagetypeupdate"  object.id %}
{% endif %}


{% endblock %}

{% block admin_page_content %}


 <div class="well well-md bs-component">
<form action={% if not object %}"{% url "admindashboard:imagetypecreate" %}"{% else %}"{% url "admindashboard:imagetypeupdate" object.id %}"{% endif %} method="post"  class="form-horizontal">

{% csrf_token %}
 <fieldset>
    <legend>
{% if not object %}
{% trans "New Image Type" %}
{% else %}
{% trans "Image Type" %}
{% endif %}
    </legend>

    {{ form.non_field_errors }}      
	{% for boundfield in form.visible_fields  %}
	{% trans boundfield.label as label %}
	<div class="form-group">
		{{ boundfield.errors }}
	    <label for="{{ boundfield.id }}" class="col-sm-2 control-label">{{label}}</label> 
	    <div class="col-md-8"> 	    	
			{{ boundfield |add_class:"form-control" }}
		</div>
	</div>
	{% endfor %}
 
	{% for boundfield in form.hidden_fields  %}	

			{{boundfield}}
	{% endfor %}


<div class="form-group">
   <div class="col-md-4 col-md-offset-2">
   {% if not readonly %} 
	    <input type="submit" class="btn btn-primary" value={% if not object %}   
{% trans "Create" %}{% else %}{% trans "Update" %}{% endif %} />
{% endif %}
	    <a href="{% url "admindashboard:imagetypes" %}"  class="btn btn-primary">{% trans "Back"%}</a>
			</div>
</div>



</fieldset>

</form>
</div>


{% endblock %}
