{% extends "base.html" %}
{% load i18n %}
 
{% block title %}Page not found{% endblock %}
 {% block organization_name %}  {{ user.organizationuser.customer.name}}{% endblock %}
 {% block body_block %}
<h1>{% trans "Page not found" %}</h1>

<p>{% trans "Sorry, but the requested page could not be found." %}</p>
{% endblock %}
