
{% load staticfiles %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}EIWA{% endblock %}</title>
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon.png"/>
{% block extrameta %}{% endblock %}

<link rel="stylesheet" href='{% static "css/jquery-ui.min.css" %}'>
<link rel="stylesheet" href='{% static "css/jquery-ui.theme.min.css" %}'>
<link rel="stylesheet" href='{% static "css/jquery-ui.structure.min.css" %}'>
<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
<link rel="stylesheet" href='{% static "css/adjust.css" %}'>

 {% block extrastyle %}{% endblock %}

<script src='{% static "js/jquery-1.11.0.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/jquery-ui.min.js" %}'></script>



<script type="text/javascript"
        src='{% static "js/datepicker-es.js" %}'>
</script>

<script>
$(document).ready(function() {
    $( ".datepicker" ).datepicker( $.datepicker.regional[ "es" ] );
    $('.datepicker').datepicker({ dateFormat: "dd/mm/yy" });    
    $('.datepicker').attr("autocomplete", "off");  

});

 
</script>
{% block extraheadjs %} {% endblock %}


</head>
<body>
{% block breadcrumbs %}  {% clear_breadcrumbs %}{% endblock %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container-fluid">
      <div class="navbar-header col-sm-3 col-md-2">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{% block organization_name %}{% endblock %}</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
         {% block extranav %}{% endblock %}
         
          <ul class="nav navbar-nav navbar-right ">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown"> {{user.username}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "auth:logout" %}">{% trans "Log Out" %}</a></li>
                  <li><a href="{% url "auth:changepassword" %}">{% trans "Change Password" %}</a></li>
                 </ul>
              </li>

              <li class="navbar-header navbar-brand"><span class="brand-name text-left">EIWA</span></li>
        </ul>
  
      </div>
      </div>
    </div>
    {% render_breadcrumbs  "django_bootstrap_breadcrumbs/bootstrap3.html"  %}
    <div class="container-fluid">
        <div class="row">
        
        
        <div class="col-sm-3 col-md-3">
         {% block sidebar %}{% endblock %}
        </div>

            <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
                      
                      {% block body_block %}  {% if messages %}
                          {% for message in messages %}
                              {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                  <div class="alert alert-dismissable alert-danger">
                              {% else %}
                                  <div class="alert alert-dismissable alert-warning">
                              {% endif %}
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                  {{ message }}
                                  </div>            

                          {% endfor %}
                      {% endif %}
                    {% endblock %}
                
            </div>
        </div>
    </div>
</body>

{% block extrabottomjs %} {% endblock %}

</html>
