{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% block extrastyle %}
<link rel="stylesheet" href='{% static "ui/css/bootstrap-slider.css" %}'>

<style type="text/css">

    html { height: 100% }
    body { height: 100% }
    .container-fluid, .row, #map-canvas , .google-maps-canvas,.col-sm-9 ,.col-sm-offset-3 ,.col-md-10 ,.col-md-offset-2 ,.main, .tab-pane ,.active, .tab-content { height: 100% }

	.container-fluid { height: 95% }

	.slider-selection {
	/*background: #8283FF;*/
		background: #DCDDF5
	}

        #slider-image-date .slider-handle.custom {
            position: absolute;
            width: 25px;
            height: 25px;
            border: 1px solid #FFF;
            background: #ECBE93;
            opacity: 1;
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            text-align: center;
            vertical-align: bottom;
            line-height: 22px;
            font-size: 10px;
            
            border-radius: 50%;
            padding-top:3.5px;
            
        }

        #slider-image-date .slider-selection {
                background: #ECBE93
        }
            
        #slider-image-date .slider-handle.custom::before {
              content: '\f017'; 
              color: #F13511;
            }

	</style>
{% endblock  %}

{%  block extraheadjs %}
<script>

    var key='AIzaSyA3eC-QHrw6JQfrG0mc6nInA0hPPbfh9To';
    var filter_data_env =JSON.parse("{{ filter_data_env | escapejs }}")
    var filter_data_border =JSON.parse("{{ filter_data_border | escapejs }}")
    var field_id = {{field.id}}
    {% get_media_prefix as media_prefix %}
    var image_folder ='{{ media_prefix |add:field.customer.getFolder|add:"/" |add:field.getFolder }}'

    var geometry_center = {{ geometry_center }}
    var filter_images_dates = {{  filter_images_dates | safe }}
    var overlayMapTypes = []
</script>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA3eC-QHrw6JQfrG0mc6nInA0hPPbfh9To&sensor=false"></script>

<script src='{% static "ui/js/bootstrap-slider.min.js" %}'></script>
<script src='{% static "ui/js/docs.min.js" %}'></script>

{% endblock %}

{% block organization_name %} {{ field.customer.name }}{% endblock %}

{% block extranav %}

    <ul class="nav navbar-nav">
        <li class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-pills ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{field.name}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        {% for productive_unit in field.customer.field_set.all %}
                            <li><a href="{% url "ui:field" productive_unit.customer.id productive_unit.id %}">{{productive_unit.name}}</a></li>
                        {% endfor %}

                    </ul>
                </li>
                <li id="maptab" class="active"><a href="#mapa" data-toggle="tab">Mapa</a></li>
                <li id="tabletab"><a href="#tabla" data-toggle="tab">Tabla</a></li>

            </ul>

        </li>
    </ul>
    {% if user.organizationuser.customer.name == 'Eiwa' %}
    <ul class="nav navbar-nav nav-pills">
    <li><a href="{% url 'admindashboard:customers' %}">{% trans "Clientes" %}</a></li>
     <li class="divider-vertical"></li>
    <li><a href="{% url 'admindashboard:users' %}">{% trans "Users" %}</a></li>
    <li><a href="{% url 'admindashboard:imagetypes' %}">{% trans "Image Types" %}</a></li>
   </ul>  
   {% endif %}


{% endblock %}


{% block sidebar %}
    <div class="sidebar">
        <ul class="nav nav-sidebar">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_rasters" aria-expanded="true" aria-controls="collapse_rasters"><h6>Mosaicos<span class="glyphicon glyphicon-chevron-down pull-right"></span></h6></a>
                  </h4>
                </div>
                <div id="collapse_rasters" class="panel-collapse collapse in" role='tabpanel'>
                  <div class="panel-body">
                        <ul class="col-sm-offset-1 nav" id="rasters_list">
                            <li>                
                                {% with field.productiveunitimage_set.all|dictsort:"image_type.name"  as image_type_list_sorted %}
                                  {% if image_type_list_sorted|length > 0 %}
                                    {% regroup image_type_list_sorted by image_type.name as image_type_list %}
                                     
                                    {% for image_type in image_type_list %}
                                       <script type="text/javascript">overlayMapTypes.push('{{image_type.grouper | lower | cut:" "}}') ; console.log(overlayMapTypes)</script> 
                                        <div class="checkbox">
                                            <input type="checkbox" class="chk_layer" id="chk_{{image_type.grouper | lower | cut:" "}}" data-layer-type='raster' data-layer='{{image_type.grouper| lower | cut:" "}}' data-basemap='{% if forloop.last %}true{% else %}false{% endif %}'>{{image_type.list.0.image_type.display_name}}</input>
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                       <script type="text/javascript">overlayMapTypes = ['terrain', 'falsecolor', 'ndvi', 'ndviclassified']</script> 
                    <div class="checkbox" >
                        <input type="checkbox" class="chk_layer" id="chk_falsecolor" data-layer="falsecolor" data-layer-type='raster'>False Color Rasters</input>
                    </div>
                    <div class="checkbox" >
                        <input type="checkbox" class="chk_layer" id="chk_ndvi" data-layer="ndvi" data-layer-type='raster'>NDVI</input>
                    </div>
                    <div class="checkbox" >
                        <input type="checkbox" class="chk_layer" id="chk_ndviclassified" data-layer="ndviclassified" data-layer-type='raster'>NDVI Classified</input>
                    </div>
                    <div class="checkbox" >
                        <input type="checkbox" class="chk_layer" id="chk_terrain" data-layer="terrain" data-layer-type='raster'>Terrain</input>
                    </div>
                                    {% endif %}
                                {% endwith %}   
                            </li>
                        </ul>
                  </div>
                </div>
              </div>

                <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_shapes" aria-expanded="false" aria-controls="collapse_shapes"><h6>Ambientes<span class="glyphicon glyphicon-chevron-right pull-right"></span></h6></a>
                  </h4>
                </div>
                <div id="collapse_shapes" class="panel-collapse collapse">
                  <div class="panel-body">
                        <ul class="col-sm-offset-1 nav" id="shapes_list">
                            <li>                
                                <!--div class="checkbox">
                                    <input type="checkbox" class="chk_layer" id="chk_borders" data-layer="borders">Contorno</input>
                                </div-->
                                <div class="checkbox" >
                                    <input type="checkbox" class="chk_layer" id="chk_environments" data-layer="environments">{% if field.customer.name == "Bayer" %}Líneas{% else %}Parcelas{% endif %}</input>
                                </div>
                            </li>
                        </ul>
                  </div>
                </div>
              </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_shapeenv_filters"><h6>Filtrar por Ambiente   <span class="glyphicon glyphicon-chevron-right pull-right"></span></h6></a>
                  </h4>
                </div>
                <div id="collapse_shapeenv_filters" class="panel-collapse collapse">
                  <div class="panel-body">
                    	<ul class="col-sm-offset-1 nav" id="environments"></ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_shapeborder_filters"><h6>Filtrar por Contorno   <span class="glyphicon glyphicon-chevron-right pull-right"></span></h6></a>
                  </h4>
                </div>
                <div id="collapse_shapeborder_filters" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="col-sm-offset-1 nav" id="borders"></ul>
                  </div>
                </div>
              </div>
            </div>
        </ul>
    </div>

{% endblock  %}
{% block body_block  %}
    <div class="tab-content">
        <div class="tab-pane active" id="mapa">
                <div id="map-canvas"></div>
                <div id="image-date-filter"></div>
                <div id="latlong"></div>
        </div>
        <div class="tab-pane" id="tabla">
             <row>
                <div id="actions-bar" class="col-sm-offset-11">
                    <a type="button" class="btn btn-warning btn-sm" href="{% url "ui:field_bucket_tabledata_csv"  field.customer.id field.id %}">
                            <span class="glyphicon glyphicon-download"></span> CSV
                    </a>   
                </div>
            </row>
            <row>
                <div  id="table_container_bucket"></div>
            </row>
        </div>
    </div>

{% endblock  %}

{% block extrabottomjs %}
    <script src='{% static "ui/js/eiwa.js" %}'></script>
    <script>

     $('.panel-default').on('show.bs.collapse', function () {
             $(this).addClass('active');
             $(".glyphicon",this).removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-down")
        });

        $('.panel-default').on('hide.bs.collapse', function () {
             $(this).removeClass('active');
               $(".glyphicon",this).removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-right")
        });

    // ADD SLIDEDOWN ANIMATION TO DROPDOWN //
    $('.dropdown').on('show.bs.dropdown', function(e){
      $(this).find('.dropdown-menu').first().stop(true, true).slideDown(200);
    });

    // ADD SLIDEUP ANIMATION TO DROPDOWN //
    $('.dropdown').on('hide.bs.dropdown', function(e){
      $(this).find('.dropdown-menu').first().stop(true, true).slideUp(200);
    });
    </script>
{% endblock %}
