{% load extra_tags %}
{% load i18n %}

{% if field_data %}

<table id="datatable" class="table table-hover table-striped table-condensed" >
     
    <thead>

  <tr>
  <th>
  Number
  </th>
  {% for column in columns %}
    <th>
        {{ column }}
        </th>
    
{% endfor %}
</tr>
</thead>
<tbody>
  {% for row in field_data %}
  <tr>
    <td>{{ row.fields.number}}</td> 
    {% for column in columns %}
        <td>{{ row.fields.info | access:column}}</td>
    {% endfor %}    
    </tr>
{% endfor %}
  </tbody>

 </table> 

{% else %}

    <p>{% trans "There is no data to display" %}</p>
{% endif %}
