{% extends 'base.html' %}
{% load i18n %}
{% block organization_name %} {{ customer.name }}{% endblock %}
{% block extranav %} 
{% if user.organizationuser.customer.name == 'Eiwa' %}
<ul class="nav navbar-nav nav-pills">
    <li><a href="{% url 'admindashboard:customers' %}">{% trans "Clientes" %}</a></li>
     <li class="divider-vertical"></li>
    <li><a href="{% url 'admindashboard:users' %}">{% trans "Users" %}</a></li>
    <li><a href="{% url 'admindashboard:imagetypes' %}">{% trans "Image Types" %}</a></li>
   </ul>  
{% endif %}
{% endblock %}
{% block body_block %}
{% if field_list %}
    <ul>
    {% for field in field_list %}
        <li><a id="field_{{field.id}}" href="{% url "ui:field" field.customer.id field.id %}">{{ field.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "There are no assigned fields" %}</p>
{% endif %}

{% endblock %}
