<html>
  <head>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA3eC-QHrw6JQfrG0mc6nInA0hPPbfh9To&sensor=false"></script>

    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">



        function init(){

          var options = {
                  controls: [],
                  projection: new OpenLayers.Projection("EPSG:3857"),
                  displayProjection: new OpenLayers.Projection("EPSG:3857"),
                };

                arrayOSM = ["http://otile1.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
                    "http://otile2.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
                    "http://otile3.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
                    "http://otile4.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg"];
        arrayAerial = ["http://otile1.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.jpg",
                        "http://otile2.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.jpg",
                        "http://otile3.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.jpg",
                        "http://otile4.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.jpg"];

        baseOSM = new OpenLayers.Layer.OSM("MapQuest-OSM Tiles", arrayOSM);
        baseAerial = new OpenLayers.Layer.OSM("MapQuest Open Aerial Tiles", arrayAerial);

        var map = new OpenLayers.Map({
              div: "map",
              layers: [
                  // new OpenLayers.Layer.Google("Google Satellite",
                  //   {type: google.maps.MapTypeId.SATELLITE, sphericalMercator: true, numZoomLevels: 14} ),
        baseAerial,
                  new OpenLayers.Layer.Vector("KML", {
                      strategies: [new OpenLayers.Strategy.Fixed()],
                      protocol: new OpenLayers.Protocol.HTTP({
                          url: "../kml",
                          format: new OpenLayers.Format.KML({
                              extractStyles: true,
                              extractAttributes: true,
                              maxDepth: 2
                          })
                      })
                  })
              ],
              center: new OpenLayers.LonLat(-63.973981038199177, -23.28268389057471).transform('EPSG:4326', 'EPSG:3857'),
              zoom: 4
    });
            }
    </script>
  </head>
  <body onload="init()">
    Hi.  There should be a total of {{location_count}} Locations.<br />
    <div id="map"></div>
  </body>
</html>
