{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Clients" "admindashboard:customers" %}
{% endblock %}

{% block admin_page_content %}

{{ block.super }}
<div class="panel panel-primary">
 <div class="panel-heading">
 {% trans "Clients" %}
 <div class="pull-right">
<a href="{% url "admindashboard:customercreate" %}"  class="badge" role="button">{% trans "Add Client" %} <span class="glyphicon glyphicon-plus"></span></a> 
</div>
 </div>
  <div class="panel-body">
<table id="datatable" class="table table-hover table-striped table-condensed" >
<thead>
	<tr>
	<th>id</th>
	<th>name</th>
	</tr>

</thead>
<tbody>
{% for customer in customer_list %}
<tr><td>{{customer.id}}</td>
<td><a href="{% url "admindashboard:customer" customer.id %}" style="text-decoration:underline;">{{ customer.name }}</a></td>
<td><a href="{% url "admindashboard:customerdelete" customer.id %}"  class="glyphicon glyphicon-trash caution" role="button"></a>
<a href="{% url "admindashboard:customerupdate" customer.id %}"  class="glyphicon glyphicon-pencil edit" role="button"></a>  
<a href="{% url "ui:fields" customer.id %}"  class="glyphicon glyphicon-log-in" role="button"></a> 

</td>
</tr>

{% endfor %}
</tbody>

</table>

  </div>
  <div class="panel-footer">
 {% if is_paginated %}

 <ul class="pagination pagination-sm">

 {% if page_obj.has_previous %}
  <li><a href="?page={{page_obj.previous_page}}">«</a></li>
  {% endif %}
  {% for page_idx in page_obj.paginator.page_range %}
  <li class="{% if page.number == page_idx %}active{% endif %}"><a href="?page={{page_idx}}">{{page_idx}}</a></li>
  {% endfor %}
  </ul>
   {% endif %}

</div>

          <a href="{% url "admindashboard:index" %}"  class="btn btn-primary">{% trans "Back" %}</a>

  	

 


  







{% endblock %}
