{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Clients" "admindashboard:customers" %}
    {% breadcrumb customer.name "admindashboard:customer" customer.id %}
{% endblock %}


{% block admin_page_content %}
<div class="row  col-sm-10">
<div class="well well-sm bs-component">
<legend>
  {% trans "Client" %}
  </legend>
   <label class="col-sm-1 col-md-2">
    {% trans "Name" %}:  </label>    {{customer.name}}
</div>
</div>
<div class="row  col-sm-10">
<div class="panel panel-primary">
 <div class="panel-heading">
{% trans "Fields" %}
 </div>
  <div class="panel-body">
 

<table id="datatable" class="table table-hover table-striped table-condensed" >
<thead>
	<tr>
	
	<th>{% trans "Name" %}</th>
  <th>{% trans "Environment" %}</th>
  <th>{% trans "Borders" %}</th>
	</tr>

</thead>
<tbody>
{% for field in object.field_set.all %}
<tr>

<td>{{ field.name }}</td>
<td>{{ field.environmentsFile }}</td>
<td>{{ field.bordersFile }}</td>
</tr>

{% endfor %}
</tbody>

</table>

  </div>
</div>
</div>
<div class="row  col-sm-10">
<a href="{% url "admindashboard:customers" %}"  class="btn btn-primary">{% trans "Back" %}</a>
</div>
{% endblock %}
