{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Clients" "admindashboard:customers" %}
    {% if customer %}
    {% breadcrumb "Edit Client" "admindashboard:customerupdate" customer.id %}
    {% else %}
    {% breadcrumb "New Client" "admindashboard:customercreate" %}
    {% endif %}
{% endblock %}

{% block admin_page_content %}

<div class="well well-sm bs-component">

<form action="{{ action }}" method="post"  class="form-horizontal">
<fieldset>

{% csrf_token %}
<legend>{% if customer %}
{% trans "Edit Client" %} 
{% else %}
{% trans "New Client" %}
{% endif %}</legend>

{{ form.non_field_errors }} 
{% for boundfield in form  %}

{% trans boundfield.label as label %}
<div class="form-group">    
      {{ boundfield.errors }}
    <label for="{{ boundfield.id }}" class="col-sm-1 control-label">{{label}}</label> 
    <div class="col-sm-6"> 
      {{ boundfield |add_class:"form-control" }}
    </div>
</div>

{% endfor %}

{% trans "Update" as update %}
{% trans "Create" as create %}
<div class="form-group">
   <div class="col-sm-4 col-sm-offset-1">
    <input type="submit" class="btn btn-primary" value="{% if customer %}{{update}}{% else %}{{create}}{% endif %}"/>
      <a href="{% url "admindashboard:customers" %}"  class="btn btn-primary">{% trans "Back" %}</a>
  </div>
</div>




</fieldset>
</form>

</div>
</div>
<div class="row  col-sm-10">


{% if customer %}

<div class="panel panel-primary">
 <div class="panel-heading">
{% trans "Fields" %}
 <div class="pull-right">
<a href="{% url "admindashboard:customerfieldcreate" customer.id %}"  class="badge" >{% trans "Add Field" %} <span class="glyphicon glyphicon-plus"></span></a> 
</div>

 </div>
  <div class="panel-body">
 

<table id="datatable" class="table table-hover table-striped table-condensed" >
<thead>
    <tr>
    
    <th>{% trans "Name" %}</th>
  <th>{% trans "Environment" %}</th>
  <th>{% trans "Borders" %}</th>
    </tr>

</thead>
<tbody>
{% for field in object.field_set.all %}
<tr>

<td>{{ field.name }}</td>
<td>{{ field.environmentsFile }}</td>
<td>{{ field.bordersFile }}</td>
<td>
<a href="{% url "admindashboard:customerfielddelete" customer.id field.id %}"  class="glyphicon glyphicon-trash caution" role="button"></a>
<a href="{% url "admindashboard:customerfieldupdate" customer.id field.id %}"  class="glyphicon glyphicon-pencil edit" role="button"></a> 
<a href="{% url "admindashboard:customerfield"  customer.id field.id %}"  class="glyphicon glyphicon-zoom-in" role="button"></a> 
</td>
</tr>

{% endfor %}
</tbody>

</table>

  </div>
</div>
{% endif %}

{% endblock %}
