{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "admindashboard:users" %}
{% endblock %}

{% block admin_page_content %}

<div class="panel panel-primary">
 <div class="panel-heading">
 {% trans "Users" %}
 <div class="pull-right">
<a href="{% url "admindashboard:usercreate" %}"  class="badge" role="button">{% trans "Add User" %} <span class="glyphicon glyphicon-plus"></span></a> 
</div>
 </div>
  <div class="panel-body">
<table id="datatable" class="table table-hover table-striped table-condensed" >
<thead>
	<tr>
	<th>{% trans "Id" %}</th>
	<th>{% trans "Name" %}<a href="#" class="btn-sm glyphicon glyphicon-sort-by-alphabet"></a></th>
  
  <th>{% trans "Email" %}</th>
  <th>{% trans "Groups" %}</th>
  <th>{% trans "Customer" %}</th>
	</tr>

</thead>
<tbody>
{% for user in user_list %}
<tr><td>{{user.id}}</td>
<td><a href="{% url "admindashboard:user" user.id %}" style="text-decoration:underline;">{{ user.username }}</a></td>
<td><a href="{% url "admindashboard:user" user.id %}" style="text-decoration:underline;">{{ user.email }}</a></td>
<td>{% for group in user.groups.all %}{{group.name}}{% endfor %}</td>
{% if user.organizationuser %}
<td><a href="{% url "admindashboard:customer" user.organizationuser.customer.id %}" style="text-decoration:underline;">{{ user.organizationuser.customer.name }}</a></td>
{% else %}
<td></td>

{% endif %}
<td><a href="{% url "admindashboard:userdelete" user.id %}"  class="glyphicon glyphicon-trash caution" role="button"></a>
<a href="{% url "admindashboard:userupdate" user.id %}"  class="glyphicon glyphicon-pencil edit" role="button"></a>  

</td>
</tr>

{% endfor %}
</tbody>

</table>

  </div>
  <div class="panel-footer">
 {% if is_paginated %}

 <ul class="pagination pagination-sm">

 {% if page_obj.has_previous %}
  <li><a href="?page={{page_obj.previous_page}}">«</a></li>
  {% endif %}
  {% for page_idx in page_obj.paginator.page_range %}
  <li class="{% if page.number == page_idx %}active{% endif %}"><a href="?page={{page_idx}}">{{page_idx}}</a></li>
  {% endfor %}
  </ul>
   {% endif %}

</div>


          <a href="{% url "admindashboard:index" %}"  class="btn btn-primary">{% trans "Back" %}</a>

  	

 


  







{% endblock %}
