{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "admindashboard:users" %}
    {% breadcrumb user.username "admindashboard:user" user.id %}
{% endblock %}

{% block admin_page_content %}

<!-- <div class="col-sm-7 col-md-8  main"> -->
  <div class="panel panel-primary">
   <div class="panel-heading">
  {% trans "User Details" %}
   </div>
    <div class="panel-body">
    {% trans "First Name" %}: {{user.first_name}}<br>
    {% trans "Last Name" %}: {{user.last_name}}<br>
    {% trans "Email Address" %}: {{user.email}}<br>
    {% trans "Username" %}: {{user.username}}<br>
    {% trans "groups" %}: {{ user.groups.all | join:", " }}<br>
    {% trans "Active" %}: {{user.is_active}}<br>
    {% trans "Client" %}: {{user.organizationuser.customer.name}}<br>
<br/>
<br/>
<br/>


<a href="{% url "admindashboard:users" %}"  class="btn btn-primary">{% trans "Back"%}</a>

</div>

{% endblock %}
