	
{% extends 'admindashboard/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "admindashboard:users" %}
    {% if user %}
    {% breadcrumb "Edit User" "admindashboard:userupdate" user.id %}
    {% else %}
    {% breadcrumb "New User" "admindashboard:usercreate" %}
    {% endif %}
{% endblock %}

{% block admin_page_content %}

 <div class="well well-md bs-component">
<form action={% if not object %}"{% url "admindashboard:usercreate" %}"{% else %}"{% url "admindashboard:userupdate" object.pk %}"{% endif %} method="post"  class="form-horizontal">

{% csrf_token %}
 <fieldset>
    <legend>
{% if not object %}
{% trans "New User" %}
{% else %}
{% trans "Edit User" %}
{% endif %}
    </legend>

    {{ form.non_field_errors }}      
	{% for boundfield in form.visible_fields  %}
	{% trans boundfield.label as label %}
	<div class="form-group">
		{{ boundfield.errors }}
	    <label for="{{ boundfield.id }}" class="col-sm-2 control-label">{{label}}</label> 
	    <div class="col-md-8"> 	    	
			{{ boundfield |add_class:"form-control" }}
		</div>
	</div>
	{% endfor %}
 
	{% for boundfield in form.hidden_fields  %}	

			{{boundfield}}
	{% endfor %}

	{{ organizationForm.management_form }}

	{% for f in organizationForm.forms %}
	    {{ f.non_field_errors }}      

		{% for boundfield in f.visible_fields  %}
		{% trans boundfield.label as label %}
		<div class="form-group">
			{{ boundfield.errors }}
		    <label for="{{ boundfield.id }}" class="col-sm-2 control-label">{{label}}</label> 
		    <div class="col-md-8"> 	    	
				{{ boundfield |add_class:"form-control" }}
			</div>
		</div>
		{% endfor %}

			{% for boundfield in f.hidden_fields  %}	
		
							{{boundfield}}
			{% endfor %}


	{% endfor %}
	

<div class="form-group">
   <div class="col-md-4 col-md-offset-2">
   {% if not readonly %} 
	    <input type="submit" class="btn btn-primary" value={% if not object %}   
{% trans "Create" %}{% else %}{% trans "Update" %}{% endif %} />
{% endif %}
	    <a href="{% url "admindashboard:users" %}"  class="btn btn-primary">{% trans "Back"%}</a>
			</div>
</div>



</fieldset>

</form>
</div>

{% endblock %}
