
{% extends 'base.html' %}
{% load i18n %}

{% block organization_name %} {% trans "Administration" %} {% endblock %}
{% block body_block %}
{{ block.super }}
<div class="row  col-sm-10">
<br/>
<br/>  
<div class="col-md-4">
<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title">{% trans "Clients" %}</h3>
  </div>
  <div class="panel-body">
    {% trans "Create/Modify Customers, Assign Productive Units and Upload Data" %} <br/><br/>
    <a class="btn btn-sm btn-warning" id="customerabm" href="{% url 'admindashboard:customers' %}">{% trans "Clients" %}</a>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Users" %}</h3>
  </div>
  <div class="panel-body">
    {% trans "Create/Modify Users for each customer, Manage Permissions." %} <br/><br/>
    <a class="btn btn-sm btn-warning" id="users" href="{% url 'admindashboard:users' %}">{% trans "Users" %}</a>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Image Types" %}</h3>
  </div>
  <div class="panel-body">
    {% trans "Create/Modify Image Categories to upload" %} <br/><br/>
    <a class="btn btn-sm btn-warning" id="imagetypesabm" href="{% url 'admindashboard:imagetypes' %}">{% trans "Image Types" %}</a>
  </div>
</div>
</div>
</div>
{% endblock %}
