{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% block organization_name %} {% trans "Administration" %} {% endblock %}
{% block extranav %}

  <ul class="nav navbar-nav nav-pills">
    <li><a href="{% url 'admindashboard:customers' %}">{% trans "Clientes" %}</a></li>
     <li class="divider-vertical"></li>
    <li><a href="{% url 'admindashboard:users' %}">{% trans "Users" %}</a></li>
    <li><a href="{% url 'admindashboard:imagetypes' %}">{% trans "Image Types" %}</a></li>
   </ul>  

{% endblock %}
{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb_for "admindashboard:index" %}
    <span class='glyphicon glyphicon-home'></span>
    
    {% endbreadcrumb_for %}
    
{% endblock %}



{% block body_block %}
<div class="row  col-sm-10">
{{ block.super }}
{% block admin_page_content %}
{% endblock %}
</div>
{% endblock %}
