
{% extends 'base.html' %}
{% load i18n %}
{% block organization_name %}{% trans "Administration" %} {% endblock %}
{% block body_block %}

<form action="" method="post">{% csrf_token %}
    <p>{% blocktrans %} Are you sure you want to delete the {{ object_class}} {% endblocktrans %}"{{ object }}"?</p>
    <input type="submit" class="btn btn-primary" value="Confirm" />

        <a href={% if referer_params %}"{% url referer referer_params %}{% else %}"{% url referer %}"{% endif %}"  class="btn btn-primary">{% trans "Back" %}</a>
    		

</form>

{% endblock %}

